# Node.js dependencies
node_modules/

# Cordova platform-specific builds
/plugins/
/platforms/

# Cordova build artifacts
merges/
res/
hooks/

# Android artifacts
android/
*.apk
*.keystore

# iOS artifacts
ios/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/
*.xcassets/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs & temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
tmp/
temp/